In [1]:
from flask import Flask, render_template
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from io import BytesIO
import base64

In [2]:
app = Flask(__name__)

In [4]:
playstore = pd.read_csv('./data/googleplaystore.csv')
playstore.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [6]:
playstore.drop_duplicates(subset = "App", inplace=True)

In [7]:
playstore.drop([10472], inplace=True)

In [8]:
playstore.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [12]:
playstore.Category = playstore.Category.astype('category')

In [13]:
playstore.Installs = playstore.Installs.apply(lambda x: x.replace(",",""))
playstore.Installs = playstore.Installs.apply(lambda x: x.replace("+",""))

In [14]:
playstore.Installs = playstore.Installs.astype("int64")

In [15]:
playstore['Size'].replace('Varies with device', np.nan, inplace = True ) 
playstore.Size = (playstore.Size.replace(r'[kM]+$', '', regex=True).astype(float) * \
             playstore.Size.str.extract(r'[\d\.]+([kM]+)', expand=False)
            .fillna(1)
            .replace(['k','M'], [10**3, 10**6]).astype(int))
playstore['Size'].fillna(playstore.groupby('Category')['Size'].transform('mean'),inplace = True)

In [16]:
playstore.Price = playstore.Price.apply(lambda x: x.replace("$",""))
playstore.Price = playstore.Price.astype("float64")

In [17]:
playstore[["Reviews", "Size", "Installs"]] = playstore[["Reviews", "Size", "Installs"]].astype("int64")

In [18]:
playstore.dtypes

App                 object
Category          category
Rating             float64
Reviews              int64
Size                 int64
Installs             int64
Type                object
Price              float64
Content Rating      object
Genres              object
Last Updated        object
Current Ver         object
Android Ver         object
dtype: object

In [19]:
df2 = playstore.copy()

In [25]:
top_category = pd.crosstab(index=df2.Category, columns='Jumlah').sort_values(by='Jumlah', ascending=False).reset_index()

In [24]:
pd.crosstab(index=df2.Category, columns='Jumlah').sort_values(by='Jumlah', ascending=False).reset_index()

col_0  Category  Jumlah
0        FAMILY    1832
1          GAME     959
2         TOOLS     827
3      BUSINESS     420
4       MEDICAL     395

In [26]:
top_category

col_0             Category  Jumlah
0                   FAMILY    1832
1                     GAME     959
2                    TOOLS     827
3                 BUSINESS     420
4                  MEDICAL     395
5          PERSONALIZATION     376
6             PRODUCTIVITY     374
7                LIFESTYLE     369
8                  FINANCE     345
9                   SPORTS     325
10           COMMUNICATION     315
11      HEALTH_AND_FITNESS     288
12             PHOTOGRAPHY     281
13      NEWS_AND_MAGAZINES     254
14                  SOCIAL     239
15     BOOKS_AND_REFERENCE     222
16        TRAVEL_AND_LOCAL     219
17                SHOPPING     202
18                  DATING     171
19           VIDEO_PLAYERS     163
20     MAPS_AND_NAVIGATION     131
21               EDUCATION     119
22          FOOD_AND_DRINK     112
23           ENTERTAINMENT     102
24       AUTO_AND_VEHICLES      85
25      LIBRARIES_AND_DEMO      84
26                 WEATHER      79
27          HOUSE_AND_HOME      74
28                  EVENTS      64
29          ART_AND_DESIGN      64
30               PARENTING      60
31                  COMICS      56
32                  BEAUTY      53

In [28]:
top_category.loc[0].Category

'FAMILY'

In [29]:
top_category.loc[0].Jumlah

1832

In [ ]:
df2[["Category", "App", "Reviews", "Rating"]].groupby(["Category", "App"]).agg({'Reviews':'max', 'Rating':'mean'})

In [36]:
df2.groupby("Reviews").sum()

          Rating        Size    Installs    Price
Reviews
0            0.0  8540198309      430696  1594.90
1          280.0  4060625384     1031006   188.07
2          339.0  3223164692       94438   153.00
3          325.9  2172879380       64920    86.44
4          316.7  1799016043       52567    39.35
...          ...         ...         ...      ...
44891723     4.6    98000000   100000000     0.00
56642847     4.0    11307429  1000000000     0.00
66577313     4.5    15984089  1000000000     0.00
69119316     4.4    11307429  1000000000     0.00
78158306     4.1    15984089  1000000000     0.00

[5330 rows x 4 columns]

In [ ]:
    stats = {
        # Ini adalah bagian untuk melengkapi konten value box 
        # most category mengambil nama category paling banyak mengacu pada dataframe top_category
        # total mengambil frekuensi/jumlah category paling banyak mengacu pada dataframe top_category
        'most_categories' : top_category.loc[0].Category,
        'total': top_category.loc[0].Jumlah,
        # rev_table adalah tabel yang berisi 10 aplikasi yang paling banyak direview oleh pengguna. 
        # Silahkan melakukan agregasi data yang tepat menggunakan groupby untuk menampilkan 10 aplikasi yang diurutkan berdasarkan 
        # jumlah Review pengguna. Tabel yang ditampilkan terdiri dari 4 kolom yaitu nama Category, nama App, total Reviews, dan rata-rata Rating.
        # Agregasi Anda dinilai benar jika hasilnya sama dengan tabel yang terlampir pada file ini
        'rev_table' : ___________________.to_html(classes=['table thead-light table-striped table-bordered table-hover table-sm'])
    }